.nav {
  width: 90px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  padding-top: 120px;

  border-right: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.01);

  position: sticky;
  top: 0;
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: #bdbdbd;
  font-size: 14px;

  transition: 0.3s;
}

.nav a:hover {
  color: #a855f7;
  transform: translateY(-3px);
}

.nav svg {
  stroke-width: 1.8;
}

@media (max-width: 1024px) {
  .nav {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    min-height: 70px;
    height: 70px;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 0;
    padding: 0;

    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    background: #070b1d;
    z-index: 1000;
  }

  .nav a {
    font-size: 12px;
  }

  .nav a span {
    display: none;
  }

  .nav {
    height: 70px;
    min-height: 60px;
  }

  .nav a svg {
    width: 20px;
    height: 20px;
  }
}
